/* BIG TABLET TO 1200PX (WIDTH SMALLER THAN THE 1140PX ROW) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
    width: 100%;
    padding: 0 2%;
}
    .row { padding: 0 2%; }
}


/* SMALL TABLET TO BIG TABLETS FROM 768PX TO 1023PX */
@media only screen and (max-width: 1023px) {
    body { font-size: 15px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
}
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 40px; }
    .works-step { margin-bottom: 50px; }
    .works-step:last-of-type { margin-bottom: 60px }
    .app-screen { width: 50%; }
    .btn-app img {
    height: 40px;
    width: auto;
    margin-right: 15px;
}
    h2:after { margin-top: 15px; }
    .icon-small { width: 15px; }
    .city-feature { font-size: 90% }
    .plan-box { width: 100%;
            margin-left: 0;
     }
    .contact-form { width: 80%; }
}


/* SMALL PHONES TO SMALL TABLETS FROM 481 TO 767PX */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%}
    .col { 
        width: 100%; 
        margin: 0 0 4% 0;
    }
    

    .long-copy { 
        width: 90%;
        text-align: center;
        margin-left: 5%;
    }
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    .mobile-nav-icon { margin-top: 10px; }
    
    .main-nav {
        float: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;

    }
    
    .hero-text-box a {
        display: inline-block;
        margin-top: 20px
    }    
    
.sticky .main-nav { margin-top: 10px; }


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited { padding: 10px 0; }
.sticky .mobile-nav-icon i { color: #555; }  
.sticky .mobile-nav-icon { margin-top: 10px; }  
    
    h1 { font-size: 180 %}
    h2 { font-size: 150% }

    .works-step { margin-bottom: 30px; }
    .works-step:last-of-type { margin-bottom: 50px }
     .steps-box:first-child {
    text-align: center;
         margin-top: 10px;
    }
    .works-step div {
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 5px;
    font-size: 120%;
    margin-right: 15px;
}
    .app-screen { width: 20%; }
    .col {margin: 0 0 5% 0;
}


/* SMALL PHONES FROM 0 TO 480PX */
@media only screen and (max-width: 480px) {
    section { padding: 20px 0; }
    .contact-form { width: 100%; }
    
}

